<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="UTF-8">
    <meta name="viewpoirt" contents="width=device-width initial-scale=1.0">
    <title>Chicago Bears</title>
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>
    <header>
      <figure> <img src="images/logo.png" alt="Logo"> </figure>
      <nav>
        <a href="news.html">NEWS</a>
        <a href="photos.html">PHOTOS</a>
        <a href="videos.html">VIDEOS</a>
        <a href="team.html">TEAM</a>
        <a href="schedule.html">SCHEDULE</a>
        <a href="fanzone.html">FANZONE</a>
      </nav>
      <!-- search bar right align -->
      <div class="search">
        <form action="#">
          <input type="text"
                 placeholder="Search..."
                 name="search">
        </form>
      </div>
    </header>
    <main>
      content
    </main>
    <footer>
      <nav2>
        <div class="circle"><a href="store.html">Store</a></div>
        <div class="circle"><a href="ticket.html">Ticket</a></div>
        <div class="circle"><a href="table.html">Table</a></div>
        <div class="circle"><a href="social.html">Social</a></div>
      </nav2>
    </footer>
  </body>
</html>
